.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portada{
  height: 100%;
  width:100% ;
  position: absolute;
}
 

h1 {
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-weight: 900;
  color:black;
} 


.registro {
  margin: 300px;
  margin-top: 40px;
}

.nameArtist {
  text-align: center;
}

.button {
  margin-left: 100px;
}

.card {
  margin-top: 100px;
}

.name {
  text-decoration: underline;
  font-weight: bold;
}

.logger{
margin-left: 100px;
}

.carousel{
  position: absolute;
  align-items: center;
}

.slider{
  height: 100vh;
  overflow:hidden ;
}


